PORT=4000
#DATBABASE 
DATABASE_URL="postgresql://admin:admin@localhost:5430/app_db?schema=public"
#JWT 
ACCESS_SECRET_KEY='your secret key'
REFRESH_SECRET_KEY='your secret key' 
VERIFY_OTP_KEY='secret key' 
RESET_PASSWORD_KEY='secret key'
RESET_EMAIL_KEY='secret key'
#TWILIO 
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFICATION_OTP_SERVICE_SID=
TWILIO_SENDING_SMS_SERVICE_SID=
TWILIO_SENDER_PHONE_NUMBER=
#FIREBASE 
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
#EMAIL 
EMAIL_USER= #use for production only: nguyenkhaan2006@gmail.com
EMAIL_FROM="deliveryapplication@gmail.com"
EMAIL_PASS= 
EMAIL_HOST=localhost  #smtp.gmail.com
EMAIL_PORT=1025 #  587
#MINIO 
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001 
MINIO_USER="minioadmin"
MINIO_PASSWORD="minioadmin"
MINIO_BUCKET="deliveryapp"
MINIO_ENDPOINT="localhost"
MINIO_PUBLIC_URL="http://localhost:9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
#FACEBOOK_CREDENTIAL 
APP_ID=<your_app_id>
APP_SECRET=<your_app_secret>
#MOMO 
MOMO_PARTNER_CODE=MOMO 
MOMO_ACCESS_KEY="F8BBA842ECF85"
MOMO_SECRET_KEY="K951B6PE1waDMi640xX08PD3vg6EkVlz"
#ENVIROMENT 
NODE_ENV='development'
NGROK_URL='https://unissued-gerbil-aloof.ngrok-free.dev'
